.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  position: relative;
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  --c: #0000, #f03355 1deg 120deg, #0000 121deg;
  background:
    conic-gradient(from 0deg, var(--c)) top right,
    conic-gradient(from 120deg, var(--c)) bottom,
    conic-gradient(from 240deg, var(--c)) top left;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  animation: l25 2s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l25 {
  33% {
    inset: -8px;
    transform: rotate(0deg)
  }

  66% {
    inset: -8px;
    transform: rotate(180deg)
  }

  100% {
    inset: 0;
    transform: rotate(180deg)
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* bg-sky-600 */
}